{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'output.css' %}">
	<link rel="shortcut icon" href="https://img.icons8.com/?size=100&id=59849&format=png&color=000000"
		type="image/x-icon">
	<title>Notes App</title>
</head>

<body class="bg-gray-900">
	<div class="flex flex-col">
		<div
			class="w-3/4 self-center z-10 rounded-2xl h-20 p-4 bg-slate-700/30 flex flex-row items-center lg:text-4xl md:text-3xl sm:text-2xl sticky top-5 backdrop-blur-lg">
			<a href="{% url 'notes' %}" class="me-auto text-white font-bold italic">Notes App</a>
			<a href="{% url 'add' %}" class="text-white hover:opacity-70">Add</a>
			<a href="#" class="mx-3 text-white hover:opacity-70">Profile</a>
			<a href="{% url 'logout' %}" class="text-white hover:opacity-70">Logout</a>
		</div>
		<div class="p-10 flex flex-row flex-wrap justify-start">
			{% for note in notes %}
			<div
				class="select-none w-60 h-60 rounded-xl bg-slate-400 hover:scale-105 hover:rotate-2 transition-transform duration-300 transform p-3 my-2 mx-auto lg:mx-5 flex flex-col">
				<a href="#" class="text-2xl font-semibold text-center mb-2 hover:cursor-pointer">{{ note.title }}</a>
				<h4 class="text-lg">{{ note.content }}</h4>
				<div class="mt-auto flex flex-row justify-between items-center">
					<h4 class="text-sm">{{ note.created_at }}</h4>
					<a href="#" class="p-1 rounded-full bg-black">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
							viewBox="0,0,256,256">
							<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
								stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
								font-family="none" font-weight="none" font-size="none" text-anchor="none"
								style="mix-blend-mode: normal">
								<g transform="scale(10.66667,10.66667)">
									<path
										d="M18,2l-2.41406,2.41406l4,4l2.41406,-2.41406zM14.07617,5.92383l-11.07617,11.07617v4h4l11.07617,-11.07617z">
									</path>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			{% empty %}
			<div class="w-full flex flex-col justify-center items-center mt-5 text-white">
                <h2 class="text-4xl text-white">You don't have any notes!</h2>
                <a href="{% url 'add' %}" class="text-2xl mt-2 text-blue-300 hover:text-blue-400">Add one!</a>
            </div>
			{% endfor %}
		</div>
	</div>
</body>

</html>